Search By First Name:
    <input type="text" ng-model="filterValue" />
    <br />
    <br />

    

<table class="table table-hover table-striped table-condensed table-bordered ordersTable"  >
    <thead>
        <tr>
            <th >FirstName</th>
            <th >LastName</th>
            <th >Age</th>
            <th >Department</th>
            <th >Address</th>
            <th >City</th>
        </tr>
    </thead>
    <tbody>              
       
       <tr ng-repeat="employee in filteredEmployees  " >
            <td>
               {{employee.FirstName | uppercase}}
            </td>
            <td>
                {{employee.LastName | uppercase}}
            </td>
            <td>
               {{employee.Age}}
            </td>
            <td>
               {{employee.Department}}
            </td>
            <td>
               {{employee.Address}}
            </td>
             <td>
               {{employee.City}}
            </td>
        </tr>
         
    </tbody>
</table>

  <br />
     <a href="#/" class="btn btn-primary">Home</a><br/> 