

<div >
    Employee ID <br />
   <input type="text" ng-model="getemployee.id" />
   <br />
    First Name <br />
   <input type="text" ng-model="getemployee.FirstName" />
   <br />
    Last Name <br />
    <input type="text" ng-model="getemployee.LastName" />
    <br />
    Age <br />
    <input type="text" ng-model="getemployee.Age" />
    <br />
    Department <br />
    <input type="text" ng-model="getemployee.Department" />
    <br />
    City <br />
    <input type="text" ng-model="getemployee.City" />
     <br />
     <br />
     <a href="#/" class="btn">Update</a><br/>      
    </div>